data/raw
data/omicron
data/processed
data/pipe_output_gisaid
data/mutation_dist*

scripts/parser/access_file.txt
scripts/parser/chromedriver
*.sif
env*
*.ipynb_checkpoints
sars_processing.egg-info
*__pycache__

.vscode
.Rproj.user
notebooks/vcftest
!data/Simulation_Covid.csv

viral_spectra/nemu_output
viral_spectra/virus_raw_aminoacids
